In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv("airports.csv")
df.head(n=10)

,ID,TYPE,NAME,LATITUDE,LONGITUDE,COUNTRY,REGION
0,6523,heliport,Total Rf Heliport,40,-75,US,US-PA
1,6524,small_airport,Lowell Field,60,-152,US,US-AK
2,6525,small_airport,Epps Airpark,35,-87,US,US-AL
3,6526,heliport,Newport Hospital & Clinic Heliport,36,-91,US,US-AR
4,6527,small_airport,Cordes Airport,34,-112,US,US-AZ
5,6528,small_airport,Goldstone /Gts/ Airport,35,-117,US,US-CA
6,6529,small_airport,Cass Field,41,-104,US,US-CO
7,6531,small_airport,Grass Patch Airport,29,-82,US,US-FL
8,6532,heliport,Ringhaver Heliport,29,-82,US,US-FL
9,6533,small_airport,River Oak Airport,27,-81,US,US-FL

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44874 entries, 0 to 44873
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         44874 non-null  int64
 1   TYPE       44874 non-null  object
 2   NAME       44873 non-null  object
 3   LATITUDE   44874 non-null  int64
 4   LONGITUDE  44874 non-null  int64
 5   COUNTRY    44654 non-null  object
 6   REGION     44874 non-null  object
dtypes: int64(3), object(4)
memory usage: 2.4+ MB

In [20]:
df['COUNTRY'].unique().shape

(243,)

In [27]:
df[(df['LATITUDE']>=10) & (df['LATITUDE']<=90) & (df['LONGITUDE']>=-90)  & (df['LONGITUDE']<=-10) ].shape

(12589, 7)